@charset "UTF-8";
/* configuraçoes gerais   */



* {
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}

html, body {

width: 100vw;
height: 100vw;
background-color: #233eff;
background-size: contain;

background-repeat: no-repeat;

}

h1 {

color: rgba(255, 255, 255, 0.945) ;
text-shadow: 2px 2px 0px #1526a7 ;
padding: 10px;
}
h2 {
    color: white;
    padding: 10px; 
}

/* celulares    */

@media(max-width: 450px) {


h1, h2 {
    color: blue;
}
   }

/* tablets */
   @media (min-width: 768px) and (max-width: 1024px) {

  h1, h2 { 
    color:  white;
  }

}
 /* orientacão horizontal    */
   
@media (orientation: landscape) {

  body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: center bottom ;
 background-repeat: no-repeat;
 background-position: left bottom;
  }


}
@media (orientation: portrait) {
body {
background-image: url(../imagens/cev-portrait.jpg);

background-repeat: no-repeat;
}
}